#                      NOSQL DA2

T.VENKAT REDDY
19MIA1104

In [2]:
pip install redis

Collecting redisNote: you may need to restart the kernel to use updated packages.
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\91798\miniconda3\lib\site-packages (from redis) (21.3)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\91798\miniconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\91798\miniconda3\lib\site-packages (from packaging>=20.4->redis) (2.4.7)
Installing collected packages: async-timeout, deprecated, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4

we are installing redis package

In [3]:
import redis

In [18]:
r = redis.Redis(host='localhost',port=6379, db=0)

In below code we are Creating a set and adding values to it.
A set in redis contains only unique values.
It cannot contain key value pairs.
So now we created iplteams set below.

In [41]:
#Create a set
ipl = "ipl teams " #ipl teams is the key name of the set

In [42]:
#Add values to the set 
r.sadd(ipl, "Chennai Super Kings")
r.sadd(ipl, "Mumbai Indians")
r.sadd(ipl, "Kings XI Punjab")
r.sadd(ipl, "Kolkata Knight Riders")
r.sadd(ipl, "Deccan Chargers")
r.sadd(ipl, "Rajasthan Royals")

1

In [43]:
# Get all members of the set
r.smembers(ipl)

{b'Chennai Super Kings',
 b'Deccan Chargers',
 b'Kings XI Punjab',
 b'Kolkata Knight Riders',
 b'Mumbai Indians',
 b'Rajasthan Royals'}

Inserted values
below we get output 6 means count of teams what we are inserted.

In [44]:
#Cardinality of the set
print("Cardinality: ")
print(r.scard(ipl))

Cardinality:
6

Deleting the set
Here we deleted our ipl set

In [45]:
#delete the set using key name
r.delete(ipl) #output is the number of records deleted

1

Creating the key value pairs
Below we creating new pairs by gives rank to each team.
Below 2021 ipl teams standings(or ranks).

In [46]:
RankData = {
'Chennai Super Kings': 7,
'Mumbai Indians': 2,
'Kings XI Punjab':3,
'Kolkata Knight Riders':4,
'Deccan Chargers':5,
'Rajasthan Royals': 6,
'Royal Challengers Bangalore':8
}
#adding the key value pairs to the database
r.mset(RankData)

True

From above code we inserted key value pairs.

Get the value of a key

In [47]:
r.get('Chennai Super Kings')

b'7'

In [51]:
r.get('Kings XI Punjab')

b'3'

Updating the value of a key

In [48]:
r.set('Chennai Super Kings',1)

True

Deleting a key value pair

In [49]:
r.delete('Deccan Chargers')

1

Get all keys in the database

Now are keys are listed below

In [50]:
r.keys('*')

[b'Mumbai Indians',
 b'Rajasthan Royals',
 b'Kolkata Knight Riders',
 b'Kings XI Punjab',
 b'Royal Challengers Bangalore',
 b'Chennai Super Kings']

Delete all keys in the database

In [52]:
r.flushall()

True